@charset "utf-8";
/* FORMATEO UNIVERSAL */
* {
	padding: 0;
	margin: 0;
	border: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
	display: block;
}

audio,
canvas,
video {
	display: inline-block;
}
html {
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	height: 100%;
}

body {
	background: #505050;
	height: 100%;
	margin: 0;
	overflow: hidden;
}
#background {
	background-image:url(../img/back.png);
	background-repeat:no-repeat;
	background-position:right bottom;
	bottom: 0;
	height: 600px;
	position: fixed !important;
	right: 0;
	width: 100%;
	z-index: -1;
}
#menu-left {
	cursor: pointer;
	background-image:url(../img/icons/menu-icon.png);
	background-repeat:no-repeat;
	background-position:left center;
	top: 0.8em;
	height: 30px;
	position: fixed !important;
	left: -0.6em;
	transition-duration: 0.5s;
	-webkit-transition-duration: 0.5s; /* Safari */
	width: 8%;
}
#menu-left:hover {
	transition-duration: 0.5s;
	-webkit-transition-duration: 0.5s; /* Safari */
	-moz-transform: scale(1) rotate(0deg) translateX(7px) translateY(0px) skewX(0deg) skewY(0deg);
	-webkit-transform: scale(1) rotate(0deg) translateX(7px) translateY(0px) skewX(0deg) skewY(0deg);
	-o-transform: scale(1) rotate(0deg) translateX(7px) translateY(0px) skewX(0deg) skewY(0deg);
	-ms-transform: scale(1) rotate(0deg) translateX(7px) translateY(0px) skewX(0deg) skewY(0deg);
	transform: scale(1) rotate(0deg) translateX(7px) translateY(0px) skewX(0deg) skewY(0deg);
}
.expandir {
	min-height: 100%;
	height: 100%;
}
.contenido-principal {
	color: #FFF;
	opacity:1;
	padding-bottom: 2em;
	overflow-y: auto;
	/* For IE8 and earlier */
	filter:alpha(opacity=100);
	z-index: 4;
}
html>body #footer {
	bottom: 0;
	left: 0;
	position: fixed !important;
}
#footer {
	background-image: -webkit-gradient(linear, left 0%, left 100%, from(#0d4569), to(#0a3550));
	background-image: -webkit-linear-gradient(top, #0d4569 0%, #0a3550 100%);
	background-image: -moz-linear-gradient(top, #0d4569 0%, #0a3550 100%);
	background-image: linear-gradient(to bottom, #0d4569 0%, #0a3550 100%);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0d4569', endColorstr='#ff0a3550', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	border-top: 1px solid #000;
	bottom: 0;
	height: 3.5em;
	left: 0;
	position: fixed !important;
	width: 100%;
	z-index: 2;
}
#back-button {
	cursor: pointer;
	background: url(../img/icons/back-button.png) no-repeat center center;
	height: 2.9em;
	margin: 0.25em 0.5em;
	width: 3.5em;
}
#subtitulo {
	background: #8d8d8d;
	color: #FFF;
	height: 2.5em;
	margin-top: 3.6em;
	text-align: center;	width: 100%;
	z-index: 50;
}
#subtitulo h3 {
	padding-top: 0.15em;
}

/* MENU CONTAINER*/
#menu-left-content {
	height: 100%;
	left: 0;
	overflow: hidden;
	position: fixed !important;
	top: 0;
	width: 0;
	z-index: 90;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
#menu-left-items {
	background: #5f5f61;
	float: left;
	height: 100%;
	margin-top: 3.6em;
	width: 80%;
}
#menu-left-items .menu_option {
	cursor: pointer;
	background-position: 0.5em center;
	border-bottom: 1px solid #95989a;
	float: left;
	height: 4em;
	padding-left: 2em;
	margin: 0;
	width: 100%;
}
#menu-left-items .menu_option h2 {
	color: #95989a;
	font-size:200%;
	margin: 0.5em 0.8em;
}
#menu-left-items .menu_option img {
	z-index: 95;
}
/*ICONOS MENU*/
#menu_home {
	background: url(../img/icons/home.png) no-repeat;
}
#menu_equipos {
	background: url(../img/icons/equipos.png) no-repeat;
}
#menu_jugadores {
	background: url(../img/icons/jugadores.png) no-repeat;
}
#menu_galerias {
	background: url(../img/icons/galerias.png) no-repeat;
}
#menu_arbitros {
	background: url(../img/icons/arbitros.png) no-repeat;
}
#menu_entrenadores {
	background: url(../img/icons/entrenadores.png) no-repeat;
}
#menu_directivas {
	background: url(../img/icons/directivas.png) no-repeat;
}
/*TERMINA ICONOS*/
#menu-left-free {
	cursor: pointer;
	background: transparent;
	float: left;
	height: 100%;
	width: 18%;
}
.menu-left-clicked {
	transition-duration: 0.5s;
	-webkit-transition-duration: 0.5s; /* Safari */
	-moz-transform: scale(1) rotate(0deg) translateX(200%) translateY(0px) skewX(0deg) skewY(0deg);
	-webkit-transform: scale(1) rotate(0deg) translateX(200%) translateY(0px) skewX(0deg) skewY(0deg);
	-o-transform: scale(1) rotate(0deg) translateX(200%) translateY(0px) skewX(0deg) skewY(0deg);
	-ms-transform: scale(1) rotate(0deg) translateX(200%) translateY(0px) skewX(0deg) skewY(0deg);
	transform: scale(1) rotate(0deg) translateX(200%) translateY(0px) skewX(0deg) skewY(0deg);
}
/* CIERRA MENU */

/* BENJAMIN */
/* PROGRAMACION PARTIDO */
.programacion_partido{
	background:#C7C7C7;
	cursor:pointer;
	display:block;
	height:8.5em;
	margin: 1.25em 1em;
	width:calc ( 100% - 3em);
}

.programacion_partido .titulo{
	background:#0D4569;
	color:#FFF;
	height:1.5em;
}
.programacion_partido .titulo .fecha{
	background:#0D4569;
	color:#FFF;
	float: right;
	height:1.5em;
	margin: 0 0.75em;
}
.programacion_partido .titulo .hora{
	background:#0D4569;
	color:#FFF;
	float:left;
	height:1.5em;
	margin: 0 0.75em;
}
.programacion_partido .equipo{
	background: #C7C7C7;
	color: #3e3e3e;
  	float:left;
	height:3.5em;
	width:100%;
}
.programacion_partido .equipo .nombre{
	float:left;
	font-size:16px;
	margin: 0 0.5em;
	margin-top: 0.75em;
}
.programacion_partido .equipo .goles{
	float: right;
	font-size:16px;
	margin: 0 1.5em;
	margin-top: 0.75em;
}
.programacion_partido .equipo-primero{
	border-bottom-color:#95989A;
	border-bottom-style:solid; 
	border-bottom-width:1px;
}
.programacion_partido .escudo-equipo{
	float:left;
	height:2em;
	margin:0.75em 0.75em;
	width:2em;
}
#bloque_estado_partidos{
	background: #C7C7C7;
	color: #3e3e3e;	
	cursor:pointer;
	height:3em;
	text-align:center;
	width:100%;
}
#bloque_estado_partidos div{
	border-color:#95989A;
	border-left: 0.5px solid;
	float:left;
	font-size:16px;
	height:100%;
	padding-top:0.50em;
	width:33.3333333333%;	
}
#bloque_estado_partidos div.active{
  color:#0d4569;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#c4c5c6), to(#95989a));
  background-image: -webkit-linear-gradient(top, #c4c5c6 0%, #95989a 100%);
  background-image: -moz-linear-gradient(top, #c4c5c6 0%, #95989a 100%);
  background-image: linear-gradient(to bottom, #c4c5c6 0%, #95989a 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc4c5c6', endColorstr='#ff95989a', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
/* ESTEBAN TORNEO.PHP */
.descripcion{
	display:block;
	margin-top:0.5em;
	height: 25%;
	margin-left:1em;
	margin-right:1em;
	width:calc ( 100% - 3em );
		
}
.descripcion .descripcion_texto{

	color: #FFF;
	font-size: 1.5em;
	text-align:left;
	width:100%;
	
}
/*text_bg_azul*/
.descripcion .text_bg_azul{
	background:#0d4569;
	border-radius:10px;
	color: #FFF;
	filter:alpha(opacity=100%);
	font-size:16px;
	height:75%;
	margin-top:4px;
	margin-left: 0.5em;
	opacity:0.80;
	padding:0.5em;
	text-align:left;
	width:100%;
	
}
.torneo_informacion{
	background: #c7c7c7;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	color: #3e3e3e;
	filter:alpha(opacity=100%);
	font-weight: bold;
	margin-left:1em;
	margin-right:1em;
	text-align: center;
	width:calc ( 100% - 3em );
	opacity:0.80;
	
}
.torneo_informacion .encabezado{
	background:#0d4569;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	color: #FFF;
	font-size:22px;
	height: 2em;
	padding:0.5em;
	text-align:center;
	width:100%;
}
.torneo_informacion .divisor{	
	background:#c7c7c7;
	border-bottom-width:thin;
	border-bottom-color:#95989a;
	border-bottom-style:solid;
	cursor:pointer;
	height: 3.5em;
	padding:0.5em 0 0.5em 0.5em;
	position:relative;
	text-align:center;
	width:100%;
}
.torneo_informacion .divisor:hover{
	background:#999;
}
.torneo_informacion .divisor span{
	color:#3e3e3e;
	cursor:pointer;
	display:inline-block;
	font-size:14px;	
	float:left;
	padding-left:0.5em;
	padding-top:0.3em;
	text-align:left;
	width:83%;
}
.torneo_informacion .divisor .flecha{
	background: url(../img/icons/list-arrow.png) right no-repeat;
	display:inline-block;
	cursor:pointer;
	float:rigth;
	height:99%;
	transition-duration:0.5s;
	width:10%;
	-webkit-transition-duration:0.5s;
}
.torneo_informacion .divisor:hover > .flecha{
	-o-transform: scale(1) rotate(0deg) translateX(7px) translateY(0px) skewX(0deg) skewY(0deg);
	-moz-transform: scale(1) rotate(0deg) translateX(7px) translateY(0px) skewX(0deg) skewY(0deg);
	-ms-transform: scale(1) rotate(0deg) translateX(7px) translateY(0px) skewX(0deg) skewY(0deg);
	transform: scale(1) rotate(0deg) translateX(7px) translateY(0px) skewX(0deg) skewY(0deg);
	transition-duration:0.5s;
	-webkit-transform: scale(1) rotate(0deg) translateX(7px) translateY(0px) skewX(0deg) skewY(0deg);
	-webkit-transition-duration:0.5s;
}
.span-info {
   background: #7d7d7d;
   border-radius: 0.5em;
   font-weight: bold;
   padding: 0.5em 0.5em;
}

.fecha_info{
	font-size:16px;
	height: 2.5em;
	margin:10px;
	}
.fecha_info .fecha_ini{
	font-size:1.5em;
	heigh:100%;
	margin: 0em 0.59em;
}
.fecha_info .fecha_fin{
	font-size:1.5em;
	heigh:100%;
	margin: 0em 0.59em;
}