/*Usa las mismas clases que Torneo*/

.margin1{
	margin-top:2em;
	margin-bottom:2em;	
}

.admin_container_shade{
	border-radius:10px;
	width:18em;
	height:12em;
	margin:0.5em;
	-webkit-box-shadow: 7px 7px 5px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    7px 7px 5px rgba(50, 50, 50, 0.75);
	box-shadow:         7px 7px 5px rgba(50, 50, 50, 0.75);
	cursor:pointer;
	
}

.admin_container_shade:hover{
	background-color:#CCC;
	}

.img_tabla_posiciones{
	height:70%;
	width:70%;
	margin: 0.5em 0em 0.5em 2.5em;
	
}

.img_goleadores{
	height:80%;
	margin: 0em 0em 0em 5.5em;
}

.img_calendario{
	margin: 1.8em 0em 0.5em 5.5em;	
}

.img_control_info{
	margin: 0em 0em 0em 4em;	
}

.img_config{
	margin:1em 0em 0em 4em;
}
ul.dropdown-menu li {
	cursor: pointer;
	padding: 0.3em 1em;
}
ul.dropdown-menu li:hover {
	background: #CCC;
}
.add_ok {
	color: #FFF;
	background: #063;
	border-radius: 0.5em;
	font-weight: bold;
	margin: 1em;
	padding: 0.3em 1em;
	text-align: center;
	width: 100%;
}
.add_error {
	color: #FFF;
	background: #900;
	border-radius: 0.5em;
	font-weight: bold;
	margin: 1em;
	padding: 0.3em 1em;
	text-align: center;
	width: 100%;
}
.toggled_container {
	display: none;
}
.configuraciones_option {
	color: #FFF;
	cursor: pointer;
	background-color: #428bca;
	border-color: #357ebd;
	border-radius: 1em;
	font-size: 1.5em;
	margin: 0.7em auto;
	padding: 0.5em;
	text-align: center;
	width: 50%;
}
.equipo_inscrito_li {
	cursor: pointer;
}
.equipo_inscrito_li:hover {
	color: #333;
	background: #CCC;
}
.equipo_inscrito_li.active {
	color: #FFF;
	background-color: #428bca;
}
.equipo_inscrito_contenido {
	display: none;
}
.equipo_inscrito_contenido.active {
	display: block;
}
.text_bg_azul_admin{
	background:#0d4569;
	border-radius:10px;
	color: #FFF;
	filter:alpha(opacity=100%);
	height:75%;
	margin-top:4px;
	opacity:0.80;
	padding:0.5em;
	text-align:left;
	width:80%;
	
}
.toggler {
    width: 500px;
    height: 200px;
  }
#button {
    padding: .5em 1em;
    text-decoration: none;
  }
#effect {
    position: relative;
    width: 240px;
    height: 135px;
    padding: 0.4em;
  }
#effect h3 {
    margin: 0;
    padding: 0.4em;
    text-align: center;
  }
  
.toggled_container{
	  display:none;
}

.modal_inner_container{
	border: black thin solid; 
}

#div_jugadores_disponibles {
	float:left;
	width:45%;
}                

#div_alineacion_jugadores_inscritos {
	float:left;
	width:45%;
}                

                  
#div_inscripcion_jugadores_inscritos{
	float:right;
	width:45%;
}

#div_alineacion{
	float:right;
	width:45%;
}

.div_buttons_config{
	width:2.5em;
	display:inline-block;
}


#add_inscripcion{
	display:block;
	border-radius:10px;
	margin-top:15em;
	margin-left:2.5em;
	margin-bottom:0.5em;
}
	
#remove_inscripcion{ 
	display:block;
	border-radius:10px;
	margin-left:2.5em;
}

#add_alineacion{
	display:block;
	border-radius:10px;
	margin-top:15em;
	margin-left:2.5em;
	margin-bottom:0.5em;
}
	
#remove_alineacion{ 
	display:block;
	border-radius:10px;
	margin-left:2.5em;
}

#div_jugadores_disponibles div table tbody tr td select{
	cursor:pointer;
	}

#div_alineacion_jugadores_inscritos div table tbody tr td select{
	cursor:pointer;
	}

#tabla_jugadores_disponibles tbody tr.selected{
	background-color:#428BCA;
}

#tabla_inscripcion_jugadores_inscritos tbody tr.selected{
	background-color:#428BCA;
}

#tabla_alineacion_jugadores_inscritos tbody tr.selected{
	background-color:#428BCA;
}

#tabla_alineacion tbody tr.selected{
	background-color:#428BCA;
}

.container_incidencia{
	float:left;
	height:13.5em;
	width:13.5em;
	margin-left:5%;
	margin-right:5%;
	border-radius:10px;
	padding-bottom:1.5em;
	-webkit-box-shadow: 7px 7px 5px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    7px 7px 5px rgba(50, 50, 50, 0.75);
	box-shadow:         7px 7px 5px rgba(50, 50, 50, 0.75);
	cursor:pointer	
}
.equipo_inscrito_li {
	cursor: pointer;
}
.equipo_inscrito_li:hover {
	color: #333;
	background: #CCC;
}
.equipo_inscrito_li.active {
	color: #FFF;
	background-color: #428bca;
}
.equipo_inscrito_contenido {
	display: none;
}
.equipo_inscrito_contenido.active {
	display: block;
}

.arbitro_li {
	cursor: pointer;
}
.arbitro_li:hover {
	color: #333;
	background: #CCC;
}
.arbitro_li.active {
	color: #FFF;
	background-color: #428bca;
}
.arbitro_contenido {
	display: none;
}
.arbitro_contenido.active {
	display: block;
}

.entrenador_li {
	cursor: pointer;
}
.entrenador_li:hover {
	color: #333;
	background: #CCC;
}
.entrenador_li.active {
	color: #FFF;
	background-color: #428bca;
}
.entrenador_contenido {
	display: none;
}
.entrenador_contenido.active {
	display: block;
}

.formato_li {
	cursor: pointer;
}
.formato_li:hover {
	color: #333;
	background: #CCC;
}
.formato_li.active {
	color: #FFF;
	background-color: #428bca;
}
.formato_contenido {
	display: none;
}
.formato_contenido.active {
	display: block;
}

.inscripcion_equipo_li {
	cursor: pointer;
}
.inscripcion_equipo_li:hover {
	color: #333;
	background: #CCC;
}
.inscripcion_equipo_li.active {
	color: #FFF;
	background-color: #428bca;
}
.inscripcion_equipo_contenido {
	display: none;
}
.inscripcion_equipo_contenido.active {
	display: block;
}

.inscripcion_jugador_li {
	cursor: pointer;
}
.inscripcion_jugador_li:hover {
	color: #333;
	background: #CCC;
}
.inscripcion_jugador_li.active {
	color: #FFF;
	background-color: #428bca;
}
.inscripcion_jugador_contenido {
	display: none;
}
.inscripcion_jugador_contenido.active {
	display: block;
}

.ubicacion_li {
	cursor: pointer;
}
.ubicacion_li:hover {
	color: #333;
	background: #CCC;
}
.ubicacion_li.active {
	color: #FFF;
	background-color: #428bca;
}
.ubicacion_contenido {
	display: none;
}
.ubicacion_contenido.active {
	display: block;
}

.torneo_li {
	cursor: pointer;
}
.torneo_li:hover {
	color: #333;
	background: #CCC;
}
.torneo_li.active {
	color: #FFF;
	background-color: #428bca;
}
.torneo_contenido {
	display: none;
}
.torneo_contenido.active {
	display: block;
}

.jugador_li {
	cursor: pointer;
}
.jugador_li:hover {
	color: #333;
	background: #CCC;
}
.jugador_li.active {
	color: #FFF;
	background-color: #428bca;
}
.jugador_contenido {
	display: none;
}
.jugador_contenido.active {
	display: block;
}
table#partidos_registrados tbody tr td.equipo:hover {
	background: #06C!important;
}